<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-2">
            <img id="myphoto" class="img-fluid" src="../../../assets/images/imgprofile.JPG"
                alt="foto de Alicia Molina, propietaria de este portfolio.">
        </div>
        <div class="col-xs-12 col-sm-4">
            <p id="myname">ALICIA MARCELA MOLINA</p>
            <p>Ful Stack Developer Jr.</p>
            <p>Estudiante Avanzada de <strong>Ing. en Computación</strong> </p>
            <p>Bachiller Universitaria en Ciencias Aplicadas</p>
        </div>
        <div class="col-xs-12 col-sm-6">
            <h1 class="titlesection"><span>ACERCA DE MÍ</span></h1>
            <p>Responsable. Proactiva. Minuciosa. Detallista. Organizada. Bien predispuesta para aprender y enseñar.</p>
            <p>Se trabajar sola y en equipo. Comparto información. Soy paciente y considerada.</p>
        </div>
    </div>
</div>