<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-2">
            <img id="myphoto" class="img-fluid" src="../../../assets/images/imgprofile.JPG"
                alt="foto de {{person.name}} {{person.lastname}}, propietaria de este portfolio.">
            </div>
            <div class="col-xs-12 col-sm-4">
            <h3 id="myname">{{person.name}} {{person.lastname}}</h3>
            <p>{{person.ocupation}}</p>
            <p>{{person.email}}</p>
        </div>
        <div class="col-xs-12 col-sm-6">
            <h1 class="titlesection"><span>ACERCA DE MÍ</span></h1>
            <p>{{person.aboutMeDescription}}</p>
        </div>
    </div>
</div>