<div class="row">
    <div class="container">
        <div class="logoargprog">
            <img id="logoargprog" src="../../../assets/images/APLogo.png" alt="Logo Argentina Programa edición #YoProgramo.">
        </div>
        <div class="social">
            <a href="http://"> <img src="../../../assets/images/linkedin.png" alt="Logo y link de LinkedIn"></a>
            <a href="http://"> <img src="../../../assets/images/github.png" alt="Logo y link de GitHub"></a>
            <a href=""> <img src="../../../assets/images/duolingo.png" alt="Logo y link de Duolingo"></a>
            <a href="http://"> <img src="../../../assets/images/twitter.png" alt="Logo y link de Twitter"></a>
            <a href="http://"> <img src="../../../assets/images/facebook.png" alt="Logo y link de Facebook"></a>
            <button type="button" class="btn btn-outline-light" (click)="login()">LogIn</button>
        </div>
    </div>
</div>
